body { 
    overflow: hidden;
  }
  
  @mixin size($width) {
    width: $width;
    height: $width * 1.1;
  }
  
  @mixin scatter($left) {
    left: 20 + ($left * 10%) + 50 - random(100);
    @include size(30 + ($left * 15px));
    
    $delay: $left * .9;
    animation: rock 3.5s ease-in-out infinite alternate, drop 15s linear #{$delay}s;
  }
  
  @for $i from 1 through 8 {
    .chute#{$i} {
      @include scatter($i);
    }
  }
  
  .chute {
    position: absolute;
    display: block;
    background-image: url('https://cdn-icons-png.flaticon.com/512/882/882181.png');
    background-size: cover;
    
    transform-origin: 50% 25%;
    top: 100%;
    
    .load {
      position: absolute;
      bottom: -60%;
      display: block;
      height: 71.6%;
      width: 100%;
      background-image: url('https://i.imgur.com/zBEqYLD.png');
      background-size: cover;
      
      transform-origin: 50% 5%;
      animation: swing 3.9s ease-in-out infinite alternate;
    }
  }
  
  @keyframes rock {
    from { transform: rotate(9deg); }
    to { transform: rotate(-10deg); }
  }
  
  @keyframes swing {
    from { transform: rotate(0deg); }
    50% { transform: rotate(-9deg); }
    to { transform: rotate(10deg); }
  }
  
  @keyframes drop {
    from { top: -25%; opacity: 0; }
    5% { opacity: 1; }
    to { top: 100%; }
  }